
* , *::after , *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root{
  --clr-yellow: #F4D04E;
  --clr-black: #000;
  --clr-white: #fff;
  --clr-gray: #6B6B6B;
}


body{
  background-color: var(--clr-yellow);
}

img{
  max-width: 100%;
}

.card{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 30%;
  padding: 1.25rem;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  border-radius: 1.125rem;
  box-shadow: 10px 10px 0px #000;
  @media(width <= 700px){
    width: 80%;
  }
}

.card__image{
  height: 30%;
  img{
    object-fit: fill;
    height: 200px;
    border-radius: 1.125rem;
  }
}