
* , *::after , *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root{
  --clr-yellow: #F4D04E;
  --clr-black: #000;
  --clr-white: #fff;
  --clr-gray: #6B6B6B;
}

@font-face {
  font-family: Nunito;
  src: url(./fonts/nunito-regular.woff);
}

body{
  background-color: var(--clr-yellow);
  font-family: Nunito;
}

img{
  max-width: 100%;
}

.card{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 30%;
  padding: 1.25rem;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  border-radius: 1.125rem;
  box-shadow: 10px 10px 0px #000;
  @media(width <= 700px){
    width: 80%;
  }
}

.card__image{
  height: 30%;
  img{
    object-fit: fill;
    height: 200px;
    border-radius: 1.125rem;
  }
}

.card__content{
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  margin-top: 1rem;
  .card__content__up{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .card__content__up__badge{
      padding-inline: 1rem;
      padding-block: 0.5rem;
      border-radius: 0.25rem;
      background-color: var(--clr-yellow);
      font-weight: 600;
      width: fit-content;
    }
    .card__content__up__date{
      font-size: 1.125rem;
    }
    .card__content__up__heading{
      font-size: 1.875rem;
      font-weight: 900;
    }
    .card__content__up__paragraph{
      color: var(--clr-gray);
    }
  }
  .card__content__down{
    display: flex;
    align-items: center;
    gap: 0.375rem;
    .card__content__down__image{
      width: 50px;
      height: 50px;
      border-radius: 9999px;
      background-color: #000;
    }
  }
}